{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h3>Administration du site</h3>
<p>Ajouter ou modifier des chants sur le site</p>
{% endblock %}
