{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<h3>Administration du site</h3>
<p class="text-center">Il y a actuellement {{ songs | length }} chants sur le site.</p>
<button type="button" class="btn btn-success">Ajouter un chant</button>
{% if is_granted('ROLE_ADMIN') %}
    <p><a href="{{ path('app_logout') }}">Déconnexion</a></p>
{% endif %}
{% endblock %}
