{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<h3>Administration du site</h3>
<p>Ajouter ou modifier des chants sur le site</p>

{% if is_granted('ROLE_ADMIN') %}
    Déconnexion
{% endif %}
{% endblock %}
