<form method="post" action="{{ path('song_delete', {'id': song.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce chant ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
    <button class="btn">Supprimer</button>
</form>
