{% extends 'base.html.twig' %}

{% block title %}Ajouter une chanson{% endblock %}

{% block body %}
    <h2>Ajouter une chanson</h2>

    {{ include('song/_form.html.twig') }}

    <a href="{{ path('song_index') }}">Retour à la liste</a>
{% endblock %}
