/* IMPORT AND FONTS */

@import "vars";
@import "~bootstrap/scss/bootstrap";

/* GENERAL */

a {
    color:#FFA953;
}

a:visited {
    color:#FFAC59;
}

a:hover {
    color:#FFAC59;
}

body {
    background-image: url("images/musicbg115.gif");
 
    .main {
        margin: 10px;
        background-color: #8094AC;
        border: 3px solid white;
        color: white;
    }

    .title {
        padding: 5px;
        border-bottom: 3px solid white;
        text-align: center;
    }

    h1 {
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    h2 {
        padding-top: 2px;
        font-size: 1.2rem;
        font-style: italic;
        color: #788196;
    }

    h3 {
        font-size: 1rem;
        font-style: italic;
        font-weight: 400;
    }

    p {
        font-size: 0.9rem;
    }

    .menu {
        background-color: black;
    }

    .content {
        background-image: url("images/musicbg125.gif");
        color: black;
    }

    .footer {
        padding-top: 1rem;
        font-size: 0.7rem;
        text-align: center;
    }
}

/* ICONS */

.objectif {
    display: list-item;
    list-style-image: url(images/chanteur.gif);
    list-style-position: inside;
    font-size: 0.7rem;
}

.search {
    display: list-item;
    list-style-image: url(images/730_search.gif);
    list-style-position: inside;
    font-size: 0.9rem;
    text-align: center;
}

.contact {
    display: list-item;
    list-style-image: url(images/730_email.gif);
    list-style-position: inside;
    font-size: 0.9rem;
    text-align: center;
}

.hr {
    background-image:url(images/ymusi12.gif);
    background-repeat: no-repeat;
    background-position: center;
}