{% extends 'base.html.twig' %}

{% block title %}Rencontres Chantantes{% endblock %}

{% block body %}

<div>
    <h3>Bienvenue sur le site des Rencontres chantantes !</h3>
    <p>Vous trouverez sur ces pages des dizaines de chansons à partager entre classes de cycle 1, 2 et 3... 
    Des <b>paroles</b>, des <b>fiches pour les élèves</b>, des <b>versions instrumentales</b> et des <b>versions chantées</b> sont proposées. 
    N'hésitez pas à nous faire part de vos remarques...</p>
    <p class="text-center"><b>... et bonnes rencontres, en chansons !</b></p>
    <a href="{{ path('home') }}"><p class="search"><b>Recherche</b></p></a>
    <a href="{{ path('home') }}"><p class="contact"><b>Contacts</b></p></a>
    <div class="hr">.</div>
</div>
{% endblock %}
